*{
    margin: 0;
    padding: 0;
}
body{
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    width: 100;
    height: 10vh;
    left: 0px;
    top: 0px;
    background: #5AA1A6;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-direction: row;
    position: relative;

}

#record-btn {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }

.vlogo{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    word-wrap: break-word
}

.text {
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    word-wrap: break-word
}

.navbar {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: 700;
    word-wrap: break-word; 
}


.text2 {
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: 700;
    word-wrap: break-word; 
}

.vl{
    margin-top:10px;
    border-left: 5px solid grey;
    width:0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 300px;
    margin-left: 140px;
}
.main{
    width: 100vw;
    height: 90vh;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
}
.hr1{
    width: 60%;
    margin-left: 50%;
    transform: translateX(-50%);
}
/* .container1{
    margin-top: 8vh;
    height: fit-content;
    width: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
} */
.div1{
    /* padding: 3%; */
    width: 70vw;
    height: 35vh;
    min-height: 300px;
    margin-left: 75%;
    margin-top: 70px;
    transform: translateX(-50%);
    /* background-color: #5AA1A6; */
}
.t1 {
    left: 524px;
    top: 204px;
    color: #626262;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word
}
/* 
.t2{
    margin-top: 30%;
} */

.button {
    background-color:#5AA1A6; /* Green */
    border: none;
    color: white;
    padding: 15px 30px 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 220px; height: 80px;
    font-size: large;
    font-weight: 600;
  }
  
.button1 {width: 300px; height: 100px;}
.button2{
    width: 200px; height: 80px;margin-left: 50px; margin-top: 30px; 
}
.button3{
    width: 200px; height: 80px; 
}

.space{
    margin-top: 30px;
}