<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index1.css">
    <title>Document</title>
    
    <!-- <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body>
    <div class="header">
        <div class="text">Voize</div>
        <div class="text1">About us</div>
    </div>
    <div class="main">
        <div class="container1">
            <div class="div1">
                <div class="t1">Upload from Files</div>
            </div>
            <hr class="hr1">
            <div class="div1">
                <div class="t1">Upload from Files</div>
            </div>
        </div>
        
    </div>
</body>
</html>